$wrapper_width:   1200px;
$header_width:    350px;

$bg_color:        #FFFFFF;
$divider_color:   #E2E2E2;
$primary_color:   #2D2D2D;
$secondary_color: #FF7A7A;

$primary_font:    Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
$post_font:       Vollkorn, Georgia, "Times New Roman" Times, serif;

$avatar_url:     "http://www.gravatar.com/avatar/02332af6f417dbb20001e8291ce4bb74?s=96";