<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }} - to its fullest</title>

		<!-- Favicon import -->
		<link type="image/x-icon" rel="shortcut icon" href="http://assets.winneon.moe/img/favicon.ico" />

		<!-- Main CSS import -->
		<link type="text/css" rel="stylesheet" href="/css/style.css">

		<!-- Utils CSS import -->
		<link type="text/css" rel="stylesheet" href="/css/utils.css">

		<!-- Markdown CSS import -->
		<link type="text/css" rel="stylesheet" href="/css/markdown.css">
	</head>
	<body>
		<div class="wrapper">
			<header>
				<div>
					<div class="title">
						<div>
							<a href="/"></a>
						</div>
						<h1>to its fullest</h1>
						<span>Jesse Bryan</span>
					</div>
					<ul class="nav" data-title="pages">
						<li>
							<a href="/">Recent Posts</a>
						</li>
						<li>
							<a href="/about/">About</a>
						</li>
					</ul>
					<ul class="nav" data-title="social">
						<li>
							<a href="https://github.com/Winneon">GitHub</a>
						</li>
						<li>
							<a href="https://twitter.com/jesseabryan">Twitter</a>
						</li>
						<li>
							<a href="https://www.reddit.com/user/WinneonSword">Reddit</a>
						</li>
					</ul>
					<ul class="nav" data-title="lists">
						<li>
							<a href="http://myanimelist.net/profile/Winneon">MAL</a>
						</li>
						<li>
							<a href="https://vndb.org/u77874/list">VNDB</a>
						</li>
					</ul>
					<ul class="nav" data-title="other">
						<li>
							<a href="http://assets.winneon.moe/misc/resume.pdf">Resume</a>
						</li>
						<li>
							<a href="mailto:winneonsword@gmail.com">Email</a>
						</li>
					</ul>
				</div>
			</header>
			<div class="content">
				{{ content }}
			</div>
		</div>
		<script type="text/javascript">
			[].forEach.call(document.getElementsByTagName("a"), function(item){
				if (item.getAttribute("href").indexOf("/") > 0)
					item.setAttribute("target", "_blank");
			});
		</script>
	</body>
</html>